@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <h2>Login</h2>

    <form asp-controller="Login" asp-action="Login" method="post">
        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>

        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div class="register-link">
        <a asp-controller="Login" asp-action="Register">Register</a>
    </div>
</div>

@section Styles {
    <style>
        body {
            background-image: url('/Images/dmytro-tolokonov-Jq3WI9IQgEs-unsplash.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            min-height: 100vh;
            width: 100%;
        }

        .login-container {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 8px;
            padding: 30px;
            width: 380px;
            text-align: center;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

            x: 125%;
            y: 70%;
            transform: translate(+125%, +70%);
            
        }
        

        h2 {
            font-size: 2.5rem;
        }  

        form div {
            margin-bottom: 8px; 
        }

        input#Username, input#Password {
            border: 2px solid #1b6ec2;
            border-radius: 4px;
            height: 35px;
            width: 100%;
            padding-left: 10px;
            box-sizing: border-box;
        }

        .register-link {
            margin-top: 20px;
        }
        
        .register-link a {
            color: #0d6efd;
            text-decoration: none;
            font-weight: bold;
        }
        
        .register-link a:hover {
            text-decoration: underline;
        }
    </style>
}