@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>This Application utilizes a local SQLite database to store data related to your use of the Application.
Please be aware that any information you input or that is generated through your use of the Application may be stored within this database.</p>

<p>As the individual developer of this Application, I have access to this local database. While it is not my intention to access or analyze your specific data, the technical ability to do so exists.</p>

<p>Given that the data is stored locally and I have potential access to it, please exercise caution and discretion when entering any information into the Application. Avoid inputting any sensitive personal details or information that you would not want to be potentially accessible.</p>

<p>By using this Application, you acknowledge and accept these terms regarding the handling of your data. If you have any questions or concerns about this policy, please feel free to reach out to me directly.</p>